<body>
    <form id="checkoutForm"  name="checkoutForm" method="POST" action="https://test.cashfree.com/billpay/checkout/post/submit"> 
         
               <input type="text"  id="order_id" name="orderId" > <br>
               <input type="text"  id="amount" name="orderAmount"> <br>
               <input type="text"  id="email" name="customerEmail"> <br>
                <input type="text"   id="phone" name="customerPhone"> <br>  
                <input type="text" id="returnUrl" name="returnUrl" value="http://localhost:5000/success" ><br>
                <input type="text" id="notifyUrl" name="notifyUrl"><br>
                <input type="text" id="signature" name="signature"><br>
                <input type="text" id="appId" name="appId" value="112600a001d47a3f8be593c05e006211">
                
            <td colspan="2"><input type="submit" value="pay cashfree" id="payBtn">
         
        </table>
    </form>
    <div id="generatedSignature"></div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" >
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
    return false;
}
$(document).ready(function () {
    const email     = "<%= email %>";
    const orderId   = "<%= orderId %>"; 
    const signature = "<%= signature %>";
    const app       = "<%= app %>";
    const amount    = getUrlParameter('amount');
    const phone     = getUrlParameter('phone');
    
    $("#email").val(email)
    $("#order_id").val(orderId)
    $("#amount").val(amount)
    $("#phone").val(phone) 
    $("#signature").val(signature)
    $("#appId").val(app)
    setInterval(function () {$("#payBtn").click();}, 2000);
    
});

</script>